In [3]:
# Write a program to print the maximum between two numbers. (one-line conditional statement)
# Write a program to find the maximum between three numbers.
print(max(20,10))
print(max(5,17,50))

20
50

In [7]:
# Write a program to check whether a number is negative, or positive (one-line conditional statement)
x=float(input("write a number"))
print("positive" if x>0 else (print("negative") if x<0 else print("zero")))

write a number 1

positive

In [10]:
# Write a program to check whether a number is even or odd (one-line statement).
x=(float(input("write a number ")))%2
print("odd" if x>0 else "even")

write a numbe  9

odd

In [21]:
# Write a program to check whether a year is a leap year or not. (one-line conditional statement).
x=(float(input("write the year ")))%4
print("leap year" if x==0 else "not a leap year")

write the year  2001

not a leap year

In [27]:
# Write a program to store the weekdays in a list and access the week day and print it by index.
week_days=["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
x=int(input("index of the day "))
print(week_days[x])

index of the day  5

Thursday

In [49]:
# Write a program to print all alphabets from a to z using while loop
import string
for letter in string.ascii_uppercase:
    print (letter, end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [63]:
# Write a program to store numbers in the List and print its reverse
x=[int(input("num.1")),int(input("num.2")),int(input("num.3"))]
x.reverse()
print(x)

num.1 5
num.2 6
num.3 7

[7, 6, 5]

In [65]:
# Write a program to print the multiplcation table of any number
x=float(input("Enter a number "))
for i in range(13):
    print(x*i)

Enter a number  5

0.0
5.0
10.0
15.0
20.0
25.0
30.0
35.0
40.0
45.0
50.0
55.0
60.0

In [66]:
# Write a program to print all even numbers between 1 to 100.(using while loop)
x=2
while x<=100:
    print(x)
    x+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [74]:
# Write a Python program to add an item to a tuple.
x=(1,2,3,4,5)
y=list(x)
y.append(6)
print(y)

[1, 2, 3, 4, 5, 6]

In [83]:
#  Write a Python program to sum all the items in a list.
x=[1,2,3,4,5,6]
y=0
for i in range(len(x)):
    y=y+int(x[i])
print(y)

21

In [84]:
# Write a Python program to multiply all the items in a list
x=[1,2,3,4,5,6]
y=1
for i in range(len(x)):
    y=y*int(x[i])
print(y)

720

In [86]:
# Write a Python program to get the smallest number from a list.
# Write a Python program to get the largest number from a list.
x=[5,9,3,12,20,99]
print(min(x))
print(max(x))

3
99

In [98]:
# Write a Python program to count the number of strings from a given list of strings.
x=["a","b","c","d"]
l=len(x)
print(l)

4

In [99]:
# Write a Python program to clone or copy a list.
x=[0,2,5,8,11]
x_copy=x
print(x_copy)

[0, 2, 5, 8, 11]

In [100]:
# Write a Python program to remove item(s) from a given set.
x={5,7,9,77,"M"}
y=list(x)
y.remove("M")
print(y)

[5, 7, 9, 77]

In [103]:
# Write a Python program to check if a set is a subset of another set.
x={1,2,3}
y={1,2,3,"M"}
print(x.issubset(y))

True

In [115]:
# Write a Python program to remove all elements from a given set.
x={1,2,3}
y=list(x)
y.clear()
print(y)

[]

In [117]:
# Write a Python program to find the maximum and minimum values in a set.
x={10,50,100}
print(max(x))
print(min(x))

100
10

In [118]:
#  Write a Python program to find the index of an item in a tuple.
x=(0,2,9,70)
print(x.index(9))

2

In [125]:
# Write a Python program to convert a tuple to a dictionary.
# Write a Python program to convert a list of tuples into a dictionary.
x=(("M",10),("H",20),("O",5))
y=dict(x)
print(y)

{'M': 10, 'H': 20, 'O': 5}

##  Write a Python program to unzip a list of tuples into individual lists.
## can't solve

In [130]:
# Write a Python program to reverse a tuple.
x=(5,50,100)
y=list(x)
y.reverse()
print(y)

[100, 50, 5]

In [152]:
# Write a Python program to replace the last value of tuples in a list.
x=[(10,20,40),(40,50,60),(70,80,90)]
l=[]
for i in range(3):
    y=list(x[i])
    y[2]=100
    print(y)

[10, 20, 100]
[40, 50, 100]
[70, 80, 100]

In [153]:
# Write a Python program to sort a tuple by its float element.
x=(10,2,70,58,23,9)
y=list(x)
y.sort()
print(y)

[2, 9, 10, 23, 58, 70]